/* Back Button and View Toggle Styles */
.back-button,
.view-toggle { 
    cursor: pointer;
    color: var(--text-color);
    font-size: var(--bigger-text-size);
    position: absolute;
    top: 18px;
    left: 25px;
}

b {
    color: var(--text-color);
    margin: 40px;
}

/* Heading Styles for User and Group Lists */
.user-list-container h1,
.group-list-container h1 {
    margin-bottom: 20px;
    margin: auto;
}

#userList {
    padding-bottom: 20vh;
}

/* User Menu Styles */
.user-menu {
    cursor: default;
    margin-top: 10px;
    background: var(--border-line);
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 10px;
    display: none;
}

/* Menu Section Styles */
.menu-section {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* Button Styles */
button {
    margin-top: 10px;
}

/* Add Button Styles */
button.add {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    border: 1px solid var(--border-line);
    width: 40px;
    height: 40px;
    line-height: normal;
    text-align: center;
}

/* Delete Button Styles */
.deleteButton {
    background-color: red;
    align-items: center;
    justify-content: center;
    color: white;
    float: right;
    width: 30px; 
    height: 30px;
    margin-right: 10px;
    margin-top: -5px;
    padding: 5px;
}

.renameButton {
    align-items: center;
    justify-content: center;
    color: white;
    float: right;
    width: 30px; 
    height: 30px;
    margin-right: 10px;
    margin-top: -5px;
    padding: 5px;
}

#deleteUser {
    background-color: red;
}

/* Media Query for Smaller Screens */
@media only screen and (max-width: 768px) {
    .user-menu, .group-menu {
        grid-template-columns: 1fr;
    }

    .menu-section {
        margin-bottom: 10px;
    }
}

/* Additional styles can be added as needed. */
