/* Specific styles for the login page */
#loginForm {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#loginForm h1 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    font-size: var(--normal-text-size);
    border-radius: 5px;
    border: 1px solid var(--border-line);
    background-color: var(--background-color);
    color: var(--text-color);
}

#loginForm button {
    width: 100%;
    font-weight: bold;
    color: white;
}

/* Adjustments for smaller screens (mobile mode) */
@media only screen and (max-width: 600px) {
    .dark-mode-button {
        top: 10px;
        right: 10px;
    }

    :root {
        --normal-text-size: 14px;
        --bigger-text-size: 18px;
        --button-text-size: 14px;
    }

    #loginForm {
        max-width: 80%; /* Reduziert die maximale Breite */
    }
}
