/* Light Mode Styles */
:root {
    --background-color: #424242; 
    --text-color: #fff;
    --hover-background: #606060;
    --border-line: #777;
    --green: #6cc644;
    --normal-text-size: 16px;
    --bigger-text-size: 24px;
    --button-text-size: 16px;
}

/* Dark Mode Styles */
body.light-mode {
    --background-color: #f5f5f5;
    --text-color: #333;
    --hover-background: #e0e0e0;
    --border-line: #ccc;

    background-color: var(--background-color);
    color: var(--text-color); /* Text color in dark mode */
    border-bottom: 1px solid var(--border-line); /* Change line color in dark mode */
    font-size: var(--normal-text-size);
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    /* Prevents horizontal scrolling */
    overflow: hidden;
    background-color: var(--background-color);
}

/* Container styles */
#internalArea {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-line); /* Change line color in dark mode */
}

/* User and Group Item Styles */
.user, .group {
    background: var(--border-line);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.container {
    flex-grow: 1;
    overflow-y: auto; /* Scroll if needed */
    padding: 20px;
}

b {
    color: var(--text-color);
    margin: 0;
}

hr {
    border: none;
    height: 1px;
    color: var(--border-line);
    background-color: var(--border-line);
}

.dark-mode-button {
    cursor: pointer;
    font-size: var(--bigger-text-size);
    position: absolute;
    top: 17px;
    right: 75px;
}

.menu-button {
    cursor: pointer;
    font-size: var(--bigger-text-size);
    position: absolute;
    top: 18px;
    right: 25px;
}

.menu-icon {
    display: block;
    width: 26px;
    height: 4px;
    background-color: var(--text-color);
    margin-bottom: 6px;
}

.menu-close-button {
    text-align: left;
    cursor: pointer;
    font-size: var(--bigger-text-size);
    color:white;
    margin-bottom: 8px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    padding: 10px;
    z-index: 3;
    transition: right 0.3s ease; /* Added for transition effect */
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: var(--normal-text-size);
    color: var(--text-color);
    border-top: 1px solid var(--border-line);
}

.menu a:last-child {
    border-bottom: 1px solid var(--border-line);
}

.menu a.logout {
    color: red; /* Red text color for the logout link */
}

.menu a:hover {
    background-color: var(--hover-background); /* Background color on hover */
}

button {
    background-color: var(--green);
    color: var(--text-color);
    font-size: var(--button-text-size);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Styles */
.modal-content {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

/* Modal Heading Styles */
.modal h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

/* Modal Input Styles */
.modal input[type="text"],
.modal input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 0px;
    padding: 10px;
    font-size: var(--normal-text-size);
    border-radius: 5px;
    border: 1px solid var(--border-line);
    background-color: var(--background-color); 
    color: var(--text-color);
}

/* Modal Submit Button Styles */
.modal input[type="submit"] {
    width: 100%;
    background-color: var(--green);
    color: var(--text-color);
    font-size: var(--normal-text-size);
    padding: 14px 20px;
    margin: 8px 0;
    border: none; 
    cursor: pointer;
}

/* Close Button Styles */
.close {
    color: var(--text-color);
    position: absolute; /* Changed from float to absolute positioning */
    top: 10px; /* Position the close button 10px from the top */
    right: 20px; /* Position the close button 10px from the right */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Close Button Hover and Focus Styles */
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.last-added {
    height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
    color: var(--text-color);
    font-size: 1.1em;
    font-weight: 600;
    background-color: var(--background-color);
    border: 1px solid var(--border-line);
    text-decoration: none;
    z-index: 1;
}

.version-tag {
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 9px;
    z-index: 0; /* Stellt sicher, dass der Tag über anderen Elementen schwebt */
}


@media only screen and (max-width: 768px) {
    .modal-content {
        max-width: 80%;
    }
    
    .last-added {
        position: fixed;
        bottom: 15px;
        right: 15px;
        height: 45px;
        width: 45px;
        padding: 10px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
        font-weight: 600;
        background-color: var(--green);
        border: 1px solid var(--background-color);
        line-height: 45px;
    }

    .menu {
        box-sizing: border-box;
        width: 100vw;
        left: 0;
        display: none;
        position: fixed;
        top: 0;
    }

    .menu.open {
        right: 0;
    }

    .menu-close-button {
        text-align: right;
        margin-top: 4px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    :root {
        --normal-text-size: 16px;
        --bigger-text-size: 20px;
    }
}
